# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Django files
*.log
local_settings.py
db.sqlite3-journal

# Environment variables
.env
.env.local
.env.*.local

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS junk
.DS_Store
Thumbs.db
