# ==============================================================================
# CodeAlpha_TaskFlow Environment Configuration Template (Backend)
# ==============================================================================

DJANGO_SECRET_KEY=django-insecure-alpha-taskflow-secret-key-change-in-production-78392104
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# PostgreSQL Production Option
POSTGRES_DB=taskflow_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_ACCESS_MINUTES=120
JWT_REFRESH_DAYS=7
